.form-container {
  margin: 35px 0 25px 0;
}

.form-label {
  margin-right: 10px;
  font-weight: 600;
  width: 15%;
  display: inline-block;
  text-align: right;
}

.form-input {
  width: 60%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* Additional styles for specific input types */
.form-input[type="checkbox"] {
  margin-bottom: 0;
}
