.login-container {
    width: 410px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 65px 55px 45px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -o-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}

.login-form {
    width: 100%;
}

.login-form-input {
    width: 100%;
    position: relative;
    margin-bottom: 35px;
    padding: 0 5px;
}

.login-form-input label {
    display: inline-block;
    width: 20%;
}

.login-form-input input {
    display: inline-block;
    width: 77%;
    border-radius: 5px;
    border-width: 1px;
    height: 25px;
}
