.selection-form {
    text-align: center;
}

.selection-form label {
    margin-right: 10px;
    font-weight: 600;
}

.select-dropdown {
    height: 30px;
    min-width: 315px;
}

tr.selected-row {
    background-color: var(--enabled-color);
    border-top-color: var(--enabled-color);
}

tr:hover {
    background-color: var(--enabled-light-color);
}