.slider-buttons {
    height: 60px;
    width: 300px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slider-choice{
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.slider-chosen{
    height: 60px;
    width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(to right,
           var(--enabled-color),
            var(--disabled-color));
    border: none;
    cursor: pointer;
}


.slider-chosen-left{
    background-image: linear-gradient(to right,
           var(--enabled-color),
            var(--disabled-color));
}

.slider-chosen-right{
    background-image: linear-gradient(to right,
           var(--disabled-color),
            var(--enabled-color));
}