.stepper-container {
  text-align: center;
  padding-top: 50px;
}

.stepper-button {
  display: inline-block;
  margin: 0 10px;
  width: 150px;
}

.step-indicators-container {
  margin: 20px 0;
}

.step-indicator {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  transition:
    background-color 0.2s,
    transform 0.2s;
    background-color: #7595d7;
}

.step-indicator.inactive {
  background-color: #bfbfbf;
}

.step-indicator.completed {
  background-color: #00cc44;
}
