.logout-button {
    background-color: #8c8c8c; 
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}

.logout-button:hover {
    background-color: #737373;
}

.workflow-container {
    width: 80%;
    background: #fff;
    border-radius: 10px;
    overflow: auto;
    padding: 50px;
    margin: 70px 0;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -o-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}

.workflow-selection-title {
    text-align: center;
    margin-bottom: 40px;
}


.workflow-graph {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-left: 10px;
}

.workflow-selection-container {
    margin-bottom: 30px;
    padding: 10px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.workflow-selection-container-one {
    width: 50%;
    padding: 10px;
}

.workflow-selection-container-two {
    width: 50%;
    padding: 10px;
    border-left: 1px solid #ccc;
}

.workflow-selection-item {
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    display: table;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.workflow-selection-item:hover {
    border: 1px solid #666;
}

.workflow-selection-item-selected, .workflow-selection-item-selected:hover {
    border: 2px solid #4d77cb;
}

ul > li {
    margin-left: 10px;
    margin-bottom: 5px;
}

.operations-list {
    text-align: left;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 15px 0;
    padding: 5px 15px;
}

.operations-log {
    margin-top: 30px;
}