.workflow-actions-buttons{
    display: table-row;
}

.workflow-actions-buttons > button{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #eee;
    cursor: pointer;
    display: table-column;
}   

.workflow-list{
    display: table;
    width: 100%;
    border: none;
}

.workflow-list thead, .workflow-list tbody {
    display: contents;
}

.available-worflows-header {
    display: flex;
    margin-bottom: 15px;
}

.available-worflows-title {
    flex: 1;
}

.clickable-table-attr:hover {
    cursor: pointer;
}

.clicked-table-attr {
    background-color: #d7e1f4;
}
