localhost:8080 {
    root * /site/
        @spa {
        not path /openbis-empa-lab*  # Exclude API routes if needed
    }
    log {
        output stdout
    }
    try_files {path} @spa /index.html
    # Define a named placeholder for the target address

    # ...

    # Define a named placeholder for the subdomain
    @subdomain {
        path_regexp ^/(\d+)
        #path https://openbis-empa-lab402.ethz.ch/openbis/openbis/rmi-application-server-v3.json
    }

    handle @subdomain {
    reverse_proxy openbis-empa-lab{http.regexp.1}.ethz.ch/openbis/openbis/rmi-application-server-v3.json
            header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
        Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"
    }
    # }

   reverse_proxy /openbis/* localhost:8445/openbis/openbis/rmi-application-server-v3.json

    file_server
}