.demo-container {
    background: white;
    max-height: 80%;
    border-radius: 10px;
    border: 1px solid #ccc;
    max-width: 80%;
    margin: 5% auto;
    padding: 20px;
    text-align: center;
}

.demo-container section {
    flex: 1;
    text-align: left;
}
